<div id="port" class="expertise">
  <div class="expertice-grids">
    <div class="col-md-8 expertice-left-grid wow fadeInLeft" data-wow-delay="0.4s">
      <div class="expertise-head">
        <h3>О нас</h3>
        <p>Intretobacco corporation - международная копорация с головным офисом в Софии, Болгария. В России представительство компании Intertobacco RUS находится в Санкт-Петербурге. Деятельность компании базируется на 4 столбах: </p>
      </div>
      <div class="expertise-left-inner-grids">
        <div class="row">
          <div class="e-left-inner-grid col-sm-6">
            <div class="e-left-inner-grid-right">
              <h4>Натуральность</h4>
              <p>Все компоненты New Yorker натуральны и допустимы даже для употребления в пищу (но все же табак жевать не рекомендуем :)</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="e-left-inner-grid col-sm-6">
            <div class="e-left-inner-grid-right">
              <h4>Соответствие нормам</h4>
              <p>Сам продукт, как и его компоненты, имеют все необходимые лицензии и сертификаты</p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="row">
        <div class="e-left-inner-grid col-sm-6">
          <div class="e-left-inner-grid-right">
            <h4>Цена</h4>
            <p>Компания пропагандирует адекватное ценообразование: продукт должен быть доступен потребителю!</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="e-left-inner-grid col-sm-6">
          <div class="e-left-inner-grid-right">
            <h4>Движение вперед</h4>
            <p>Ни шагу на месте! Освоение новых рынков и разработка новых вкусов ведутся непрерывно</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 expertice-right-grid wow fadeInRight" data-wow-delay="0.4s">

    </div>
    <div class="clearfix"> </div>
  </div>
</div>
