<div class="banner wow fadeIn" data-wow-delay="0.5s">
  <div class="container">
    <div class="banner-info text-center">
      <div class="logonew">
        <%= image_tag("new.png")%><br>
      </div>
      <span> </span>
      <p><h3>Табак для тех, кто понимает</h3></p>
    </div>
  </div>
</div>
