<div id="services" class="services">
  <div class="container">
    <div class="service-head text-center">
      <h2>О ТАБАКЕ</h2>
      <span> </span>
    </div>
    <!--- services-grids --->
    <div class="services-grids text-center">
      <div class="col-md-3">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <h3>Табаки</h3>
          <p>Сочетание сортов вирджиния и берли</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <h3>Ароматизаторы</h3>
          <p>Натуральные пищевые ароматизаторы. Вкус не исчезает и после часа курения</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <h3>Составляющие</h3>
          <p>Карамельная и тростниковая патоки + глицерин = море дыма и высокая жаростойкость</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <h3>Защита качества</h3>
          <p>Уникальный код на каждой пачке - тест на оригинальность на сайте</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!--- services-grids --->
  </div>
</div>
