<div id="team" class="team-members">
    <div class="wrap">
      <div class="tm-head">
        <h3>наша команда</h3>
        <p>Наши распространители.</p>
      </div>
      <div class="tm-head-grids">
        <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
          <%= image_tag("team-member1.jpg")%>
          <h4>Kimberly Thompson</h4>
          <h5>Marketer</h5>
          <ul class="top-social-icons">
            <li><a class="twitter" href="#"> </a></li>
            <li><a class="facebook" href="#"> </a></li>
            <li><a class="pin" href="#"> </a></li>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
          <%= image_tag("team-member2.jpg")%>
          <h4>Rico Massimo</h4>
          <h5>Coder</h5>
          <ul class="top-social-icons">
            <li><a class="twitter" href="#"> </a></li>
            <li><a class="facebook" href="#"> </a></li>
            <li><a class="pin" href="#"> </a></li>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
          <%= image_tag("team-member3.jpg")%>
          <h4>Uku Mason</h4>
          <h5>Graphic Designer</h5>
          <ul class="top-social-icons">
            <li><a class="twitter" href="#"> </a></li>
            <li><a class="facebook" href="#"> </a></li>
            <li><a class="pin" href="#"> </a></li>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <p class="team-info">Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
    </div>
  </div>
